.header {
  &-nav {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(10.3125rem, max-content) minmax(12.5rem, 37.5rem) minmax(2.5rem, 10.3125rem);
    grid-column-gap: 2.5%;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    cursor: pointer;
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  &-menu__item {
    position: relative;
    height: 3.75rem;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 3.75rem;
    color: #252421;
    cursor: pointer;
    &:hover {
      color: #3343E1;
    }
    &:hover .header-submenu {
      display: block;
      border-top: solid #3343E1 3px;
      color: #000000;
    }
  }

  &-submenu {
    position: absolute;
    top: 3.75rem;
    left: -5%;
    width: 12.5rem;
    display: none;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 5px #000000;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
  &-submenu__item {
    height: 3.75rem;
    padding-left: 5%;
    font-size: 0.9375rem;
    &:last-of-type {
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
    }
    &:hover {
      background-color: #3343E1;
      color: #ffffff;
    }
  }

  &-btn {
    height: 2.5rem;
    background: #3343E1;
    border-radius: 1.25rem;
    text-align: center;
    a {
      font-weight: 600;
      font-size: 0.8125rem;
      line-height: 2.5rem;
      color: #ffffff;
      text-align: center;
      vertical-align: middle;
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 15%;
      }
    }
  }

  &-btn__menu {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
@media (max-width: 960px) {
  .header {
    &-nav {
      grid-template-columns: minmax(1.5rem, 1.5rem) minmax(10.3125rem, max-content) 2.5rem;
    }
    &-logo {
      grid-column: 2;
      grid-row: 1;
    }
    &-btn {
      grid-column: 3;
      grid-row: 1;
      border-radius: 50%;
    }
    &-btn__menu {
      grid-column: 1;
      grid-row: 1;
    }

    &-menu {
      position: absolute;
      top: 0%;
      left: -15%;
      width: 50vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-content: start;
      justify-content: start;
      background-color: #ffffff;
      box-shadow: 0px 2px 5px #000000;
      transition: all 1s;
    }
    &-menu__item {
      &:first-of-type {
        margin-top: 10%;
      }
    }
    &-submenu {
      top: 0%;
      left: 100%;
      border-radius: 0px;
    }
    &-submenu__item:last-of-type {
      border-radius: 0px;
    }
  }
}